<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" >
        <div class="layui-side-scroll" id="menu"></div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/html" id="demo">
    <ul class="layui-nav layui-nav-tree" lay-filter="test" lay-shrink="all">
        {{#  layui.each(d, function(index, item){ }}
        <li class="layui-nav-item">
            <a class="javascript:;" href="javascript:;">{{item.title}}</a>
            <dl class="layui-nav-child">
                {{#  layui.each(item.list, function(index, dd){ }}
                <dd>
                    <a href="#" name="{{dd.url}}" >{{dd.name}}</a>
                </dd>
                {{#  }); }}
            </dl>
        </li>
        {{#  }); }}
    </ul>
</script>
<script type="text/javascriptv ">
    //JavaScript代码区域
    layui.use('element','type', function () {
        var element = layui.element;
        var type=layui.type;
        alert(111111);
        //生成左侧导航栏
        $.post("/getMenu", function(data1) {
            var data = new Array(data1.length);
            for (var i = 0; i < data1.length; i++) {
                var id = data1[i].id;
                var name = data1[i].name;
                for (var j = 0;j<data1[i].children.length;j++){
                    var id=data1[i].children.id;
                    var name=data1[i].children.name;
                }
            }
            var demo = document.getElementById('demo');
            var getTpl = demo.innerHTML,
                menu = document.getElementById('menu');
            type(getTpl).render(data, function(html) {
                menu.innerHTML = html;
            });
            element.init();
            element.render('nav');
        });
    });
</script>
</body>
</html>